{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requirePragma": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "semi": false,
  "importOrder": [
    "@/(.*)",
    "^[./]",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderSeparation": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
